// Colors
$color-background: rgb(37, 37, 37);
$color-menu: rgb(45, 47, 49);
$color-accent: rgb(103, 163, 223);
$color-text: white;

// Sizes
$size-round-small: 4px;
$size-round-normal: 8px;
$size-round-large: 12px;
$size-padding-small: 4px;
$size-padding-normal: 8px;
$size-padding-large: 12px;
$size-margin-small: 2px;
$size-margin-normal: 4px;
$size-margin-large: 8px;
$size-font-normal: 16px;
$size-font-large: 24px;
